
@import 'variables';

@import 'col_grid',
		'breakpoints';

.login_page_container{
	max-width: $max_container_width;
	position: relative;
	margin: 0 auto;

	h2{
		text-align: center;
	}
}

.back_home_btn{
	width: 150px;
	height: 20px;
	padding: 0.5em 0.2em;
	position: absolute;
	top: 20px;
	left: 5%;
	text-align: center;
	background-color: $prim_color;

	&:hover{
		background-color: darken($prim_color, 10%);
	}
}

.login_page_btn, .create_acc_submit{
	width: 200px;
	height: 20px;
	padding: 0.5em 1em;
	background-color: $sec_color;
	color: white;
}


.create_acc_container, .login_container{
	float: left;
	margin-top: 10%;
	margin-left: 5%;
}

label{
	display: block;
}

.login_page_input{
	width: 85%;
	margin-bottom: 2em;
}





