@import 'variables';

@import 'col_grid',
		'breakpoints',
		'list_page_main',
		'login_page_main',
		'submit_list_main.scss';



body {
	font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
	background-image: url('http://orig06.deviantart.net/af12/f/2015/296/1/f/one_punch_man_wallpaper_hd_saitama_anime_by_corphish2-d9e2jbp.jpg');
	background-position: fixed;
}


header{
	z-index: 2;
	width: 100%;
	padding: 1em;
	background-color: white;
}

a{
	text-decoration: none;
	color: black;
}


.head_btn_container{
	width: 100%;
	max-width: $max_container_width;
	margin: 0 auto;
	overflow: hidden;
}

.btn{
	float: left;
	margin-right: 2em;
	padding: 0.5em 1em;
	color: $sec_color;
	border: 2px solid white;

	&:hover{
		border: 2px solid $prim_color;
	}
}

.ham_btn{
	float: right;
	margin-right: 2em;
	border: 2px solid black;
}


.home_page_message{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 10%;
	line-height: 1;

	h2{
		text-align: center;
	}

	p{
		text-align: center;
	}
}


h1{
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
}

h2, h3{
	color: $dark_accent;
}

.mini_h1{
	font-size: 0.6em;
}

.home_page_tagline{
	color: $sec_color;
}


.mobile_tab_container{
	width: 100%;

	a{
		text-decoration: none;
	}
}

.head_tab{
	width: 32%;
	margin: 0.5%;
	box-sizing: border-box;
	float: left;
	text-align: center;
}

.current_tab{
	border-bottom: 2px solid black;
}


.list_row{
	width: 100%;
	margin: 4em 0;
	padding: 2em;
	overflow: hidden;
	box-sizing: border-box;
	background-color: white;

	h2{
		margin-left: 2%;
	}
}

.voting_container{
	overflow: hidden;
	box-sizing: border-box;

	&:hover{
		cursor: pointer;
	}
}

.list_poster{
	margin: 0 auto;
	border: 2px solid black;
	background-color: white;
	box-sizing: border-box;
}

.vote_btn_container{
	width: 98%;
	margin: 0 auto;
	overflow: hidden;
}


.up_vote, .down_vote{
	color: $prim_color;

	&:hover{
		cursor: pointer;
		color: darken($sec_color, 10%);
	}
}

.up_vote{
	margin-left: 15%;
	margin-right: 0;
	float: left;
}

.down_vote{
	margin-right: 15%;
	margin-left: 0;
	float: right;
}


h3{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $dark_accent;

	&:hover{
		text-decoration: underline;
	}
}


.pre_footer_container{
	width: 100%;
	max-width: 1000px;
	margin: 2em auto;
	padding: 2em;
	text-align: center;

	p{
		font-size: 1.5em;
	}
}

.submit_long_btn{
	width: 200px;
	height: 30px;
	margin: 0 auto;
	padding: 0.5em 2em 0 2em;
	border: 2px solid black;
	display: block;
}


footer{
	width: 100%;
	height: 100px;
	clear: both;
}








